

<%= render 'form', log: @log %>


<div class="row">
  <div class="col col-12">
    <h2>Past Measurements</h2>
  </div>
</div>

<div class="row">
  <div class="col col-10 offset-1">
    <table class="table">
      <tbody>
        <% @logs.each do |log| %>
          <tr class="log-record">
            <td width="35%">
              <%= link_to log do %>
                <%= log.systolic %>/<%= log.diastolic %>
                <%= "(#{log.heart_rate})" if log.heart_rate.present? %>
                <% end %>
            </td>
            <td><%= fa_icon('comment', title: log.notes) if log.notes.present? %></td>
            <td width="45%"><%= log.date.strftime('%m/%d %l:%M %P') %></td>
            <td nowrap="nowrap">
              <p class="btn-group">

              </p>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

