<!DOCTYPE html>
<html>
  <head>
    <title>Arpcentral // Bpress</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav class="row align-items-center">
      <div class="col col-8">
        <img src="/img/bpress-icon-grey.png">
      </div>
      <div class="col col-4">
        <h1> BPress </h1>
      </div>
    </nav>


    <div class="row">
      <div class="col-sm-12">
      <main>
        <%= yield %>
      </main>
      </div>
    </div>


    <footer class="row">
      <div class="col-sm-12">
        <p> v1.0 | Arpcentral.net </p>
      </div>
    </footer>
  </body>
</html>
